<%- include('partials/header.ejs');%>

<body>
  <%- include('partials/navbar.ejs');%>
  <div class="container">
    <hr />
    <div class="row justify-content-center">
      <a href="/new_question" class="btn btn-secondary btn-lg"
        >create a new question here!</a
      >
    </div>
    <hr />
    <% questions.forEach(question=> { %>
    <br />
    <div class="card">
      <div class="card-body">
        <h3><%= question.title %></h3>
      </div>
      <div class="card-footer">
        <a href="/question/<%= question.id %> ">
          <button class="btn btn-primary btn-sm float-right">
            Answer
          </button></a
        >
      </div>

      <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body"><%= question.description %></div>
      </div>
    </div>
    <% }) %>
  </div>
</body>
<%- include('partials/footer.ejs');%>
